/* General styles with standard fonts and positions */

body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #000;
}

/* Keeping the page static */
.bodystill {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Navigation bar and header styling */
header {
  padding: 20px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Used this across the several pages to ensure the fullsceen coverage of my elements were in the right place */
.full-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("panda-website.png");
  background-size: cover;
  text-align: center;
  color: white;
}

/* Holds text and buttons in place */
.container {
  max-width: 80%;
  text-align: center;
  padding-bottom: 10%;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

/* Button styling */
.btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buttons .btn:hover {
  background-color: #f4f4f4;
}

/* Footer styles */
footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.25rem;
}

footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}

/* Centering content and adding spacing for readability */
.questions {
  text-align: center;
  align-items: center;
  padding-top: 50px;
}

#answers1 {
  padding-left: 200px;
  padding-right: 200px;
  font-size: 15px;
  margin-bottom: 80px;
}

.questions ul {
  list-style-position: inside;
}

/* Up arrow design and position */
.up-arrow {
  position: fixed;
  bottom: 40px; /* Distance from the bottom */
  right: 40px; /* Distance from the right */
  font-size: 25px; /* Size of the arrow icon */
  background-color: white;
  color: black;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

.up-arrow.visible {
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply fade-in animation to the targeted elements */
.fadein {
  animation: fadeIn 0.5s ease-in-out;
}

/* Made the initial fade-in state hidden  */
.fade-in {
  opacity: 0;
  transform: translateY(3px); /* Adds a bit of movement */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* When element becomes visible in the viewport */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0); /* Reset the translation to make the animation */
  animation: fadeIn 1.5s forwards;
}

#headerspace {
  padding-bottom: 30px;
}
